.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  & > .portfolio-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  & > .portfolio-list__item:nth-child(3n) {
    margin-right: 0;
  }
}
